* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

.content, #content {
    width: 100vw;
    height: 100vh;
    transition: all 2s;
}

.button a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}

.button a:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}
